/* UTILITY CLASSES*/
.profile-pic {
width: 60px;
border-radius: 50%;
vertical-align: middle;
cursor: pointer;
}

.user-name {
display: inline-block;
cursor: pointer;
}

i {
color: rgb(177, 177, 177);
font-size: 20px;
margin: 5px 10px;
cursor: pointer;
}

h6 {
margin-bottom: 0;
}

input {
border: none;
}

input:focus {
outline: none;
}

.text {
color: grey;
font-size: 15px;
font-weight: 600;
}

.text a {
color: grey;
}

/* END UTILITY CLASSES*/



.background {
height: 100vh;
padding: 30px 50px;
background: linear-gradient(to bottom, red 20%, orange 20% 40%, yellow 40% 60%, green 60% 80%, blue 80%);
}

main, aside {
height: calc(100vh - 60px);
overflow: hidden;
}

aside {
background-color: rgb(240, 240, 240);
}

aside > * {
padding: 15px;
}

.user-box {
background-color: rgb(240, 240, 240);
padding: 15px;
}

aside .search-box {
margin: 10px;
background-color: white;
}

aside .contacts-box {
margin-right: 15px;
border-right: 1px solid lightgrey;
background-color: white;
}

aside .settings {
background-color: rgb(159, 216, 248);
}

.settings > i {
background-color: white;
color: rgb(159, 216, 248);
padding: 15px;
border-radius: 50%;
font-size: 20px;
}

aside .search-box {
border: 1px solid lightgrey;
}

aside .contacts-box {
flex-grow: 1;
overflow: auto;
}

.contact {
margin-bottom: 18px;
}

main {
border-left: 2px solid lightgray;
}

main .chat-box {
background-image: url('img/mine.jpg');
width: 98%;
flex-grow: 1;
overflow: auto;
}

.sending-msg {
background-color: rgb(240, 240, 240);
padding: 10px 0;
}

.sending-msg input {
flex-grow: 1;
border-radius: 5px;
padding-left: 15px;
margin-left: 5px;
}

.sending-msg i {
padding: 10px 20px;
font-size: 28px;
color: rgb(109, 109, 109);
}

.recived-msg, .send-msg {
max-width: 70%;
margin: 10px 8px;
padding: 10px;
border-radius: 10px;
}

.recived-msg {
background-color: white;
}

.send-msg {
background-color: lightgreen;
}



/* Scrollbar */
::-webkit-scrollbar {
    width: 8px;
  }
  
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(240, 240, 240); 
    border-radius: 10px;
  }
   
::-webkit-scrollbar-thumb {
    background: rgb(240, 240, 240); 
    border-radius: 10px;
  }
  
::-webkit-scrollbar-thumb:hover {
    background: rgb(221, 221, 221); 
  }



