/* UTILITY CLASSES*/
.profile-pic {
width: 60px;
border-radius: 50%;
vertical-align: middle;
}

.user-name {
display: inline-block;
}

i {
color: rgb(177, 177, 177);
font-size: 20px;
margin: 5px 10px;
}

h5, h6 {
margin-bottom: 0;
}

input {
border: none;
}

input:focus {
outline: none;
}

/* END UTILITY CLASSES*/



.background {
height: 100vh;
padding: 30px 50px;
}

main, aside {
border: 1px solid black;
height: calc(100vh - 60px);
overflow: hidden;
}

aside > * {
padding: 15px;
}

.user-box {
background-color: rgb(240, 240, 240);
padding: 15px;
}

aside .search-box {
margin: 10px;
}

aside .contacts-box {
margin-right: 15px;
border-right: 1px solid lightgrey;
}

aside .settings {
background-color: rgb(159, 216, 248);
}

.settings > i {
background-color: white;
color: rgb(159, 216, 248);
padding: 15px;
border-radius: 50%;
font-size: 20px;
}

.setting-option {
color: gray;
text-decoration: underline;
font-size: 20px;
}

aside .search-box {
border: 1px solid lightgrey;
}

aside .contacts-box {
flex-grow: 1;
overflow: auto;
}

.contact {
margin-bottom: 15px;
}

main .access {
color: grey;
font-size: 15px;
}


/* Scrollbar */
::-webkit-scrollbar {
    width: 8px;
  }
  
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px lightgray; 
    border-radius: 10px;
  }
   
::-webkit-scrollbar-thumb {
    background: lightgray; 
    border-radius: 10px;
  }
  
::-webkit-scrollbar-thumb:hover {
    background: rgba(97, 96, 96, 0.918); 
  }



